.table-week {
  width: 100%;
  margin-top: 20px;
}

.total-week {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.total-week span {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}
